.business-img{
  position: relative;
}

.business-img img{
  transition: .5s ease;
}

.hover-point {
  position: absolute;
  z-index: 2;
  width: calc(100% / 3);
  height: calc(100% / 3);
}

.hover-point:nth-child(1) {
  top: 0;
  left: 0;
}

.hover-point:nth-child(2) {
  top: 0;
  left: calc(100% / 3);
}

.hover-point:nth-child(3) {
  top: 0;
  right: 0;
}

.hover-point:nth-child(4) {
  top: calc(100% / 3);
  left: 0;
}

.hover-point:nth-child(5) {
  top: calc(100% / 3);
  right: 0;
}

.hover-point:nth-child(6) {
  bottom: 0;
  left: 0;
}

.hover-point:nth-child(7) {
  bottom: 0;
  left: calc(100% / 3);
}

.hover-point:nth-child(8) 
{
  bottom: 0;
  right: 0;
}

.hover-point:nth-child(1):hover ~ img {
  transform-origin: right top;
  transform: perspective(300px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg);
}

.hover-point:nth-child(2):hover ~ img {
  transform-origin: center top;
  transform: perspective(300px) rotateX(10deg);
}

.hover-point:nth-child(3):hover ~ img {
  transform-origin: left top;
  transform: perspective(300px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg);
}

.hover-point:nth-child(4):hover ~ img {
  transform-origin: left center;
  transform: perspective(300px) rotateY(-10deg);
}

.hover-point:nth-child(5):hover ~ img {
  transform-origin: right center;
  transform: perspective(300px) rotateY(10deg);
}

.hover-point:nth-child(6):hover ~ img {
  transform-origin: right bottom;
  transform: perspective(300px) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg);
}

.hover-point:nth-child(7):hover ~ img {
  transform-origin: center bottom;
  transform: perspective(300px) rotateX(-10deg);
}

.hover-point:nth-child(8):hover ~ img {
  transform-origin: left bottom;
  transform: perspective(300px) rotateX(-10deg) rotateY(10deg) rotateZ(2deg);
}