/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* HEADER */
header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 60px;
  background-color: #fff;
}

header li{
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}

header .top-sec{
  display: inline-block;
  text-decoration: none;
  height: 60px;
  line-height: 60px;
  font-size: .9rem;
}

header .top-sec:hover{
  border-bottom: 1px solid black;

}

header .logo{
  vertical-align: middle;
}



/* MAIN */
main{
  margin-top: 60px;
}