/* HEADER */
header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 60px;
  background-color: #fff;
}

header li{
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}

header .top-sec{
  display: inline-block;
  text-decoration: none;
  line-height: 60px;
  font-size: .9rem;
  font-weight: 500;
  color: black;
}

header .top-sec:hover{
  box-shadow: inset 0 -2px 0 black;
}

header .logo{
  vertical-align: middle;
}
/* /HEADER */


/* MAIN */

  /* JUMBOTRON */
  main{
    margin-top: 60px;
  }

  main section{
    padding: 80px 0 0;
  }

  main .jumbotron{
    background-color: #B4D0E7;
    min-height: 600px;
    margin-bottom: 100px;
  }

  main .jumbotron .content-row{
    position: relative;
  }

  main .jumbotron .text-col{
    width: calc(100% / 3);
    padding-right: 50px;
  }

  main .jumbotron .text-col p{
    font-size: .9rem;
  }

  main .jumbotron .trial span{
    font-size: .7rem;
    line-height: 40px;
  }

  main .jumbotron .start{
    font-size: 3rem;
    color: black;
  }

  main .jumbotron .img-col{
    width: calc((100% / 3) * 2);
    max-width: 900px;
    position: absolute;
    top: 0;
    left: 33%;
  }
  /* /JUMBOTRON */


  /* SEZIONE SELEZIONA IL TUO PIANO */
  main form label{
    margin-right: 20px;
  }

  main .plan-description h5{
    font-size: .9rem;
  }

    /* BOX PIANI */
    main .plan .plan-card{
      border: 1px solid #E6E6E8;
    }

    main .plan .plan-card.private{
      width: 30%;
      min-height: 900px;
    }

    main .plan .plan-tag{
      border-bottom: 1px solid #E6E6E8;
      text-align: center;
      padding: 5px;
      font-size: .9rem;
      font-weight: bold;
    }

    main .plan .plan-description{
      padding: 20px;
    }

    main .plan .price{
      font-size: .8rem;
      font-weight: bold;
    }

    main .plan .fatt{
      font-size: .7rem;
      font-weight: bold;
      color: #6A7986;
    }

    main .row span,
    main .trial span,
    main .trial a:last-child,
    main .enterprise span{
      font-size: .8rem;
    }

    main .row .icon{
      margin-right: 5px;
    }

    main .features .icon,
    main .trial a:last-child{
      color: #0D69FF;
    }

    main .trial span,
    main .trial a:last-child{
      line-height: 80px;
    }

    main .plan-description .trial .btn{
      width: 100%;
      text-align: center;
    }

    main .plan-description .trial span{
      display: inline-block;
      border-bottom: 1px solid #E6E6E8;
    }
    /* /BOX PIANI */

  /* /SEZIONE SELEZIONA IL TUO PIANO */


  /* SEZIONE TROVA PARTNER */
  main .partner .container-sml div{
    width: 50%;
    /* flex-grow: 1; */
  }

  main .partner-txt{
    padding-left: 50px;
    padding-top: 50px;
  }

  main .partner-txt p{
    font-size: .9rem;
    line-height: 1.4rem;
  }
  /* /SEZIONE TROVA PARTNER */


  /* SEZIONE OPERAZIONI DROPBOX BUSINESSR */
  main .business{
    flex-wrap: wrap;
  }

  main .business-card{
    width: 30%;
  }

  main .business-card p{
    font-size: .9rem;
  }
  /* /SEZIONE OPERAZIONI DROPBOX BUSINESS */
  
  
  /* SEZIONE TESTIMONIALS */
  main .testimonials .container-sml a{
    display: inline-block;
    font-size: .8rem;
    color: #0D69FF;
  }

  main .testimonial-grid>div:not(.testimonial-overview){
    width: 30%;
    flex-wrap: wrap;
  }

  main .testimonial-grid .testimonial-overview{
    position: relative;
    width: 40%;
    overflow: auto;
  }

  main .testimonial-presentation{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10%;
    font-size: .9rem;
  }

  main .testimonial-presentation a{
    display: block;
    width: 30%;
  }

  main .testimonial-presentation span{
    display: block;
    font-weight: bold;
  }

  main .testimonial-presentation .designed-hr hr{
    border: 1px solid #E6E6E8;
    width: 15%;
  }

  main .testimonial-grid div:not(.testimonial-overview)>div{
    position: relative;
    cursor: pointer;
    width: 50%;
  }

  main .testimonial-grid div:not(.testimonial-overview)>div:hover{
    box-shadow: inset 0 0 10px 5px #D0E9CD;
  }
  
  main .testimonial-grid div:not(.testimonial-overview)>div::after{
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  main .testimonial-grid .selected{
    box-shadow: inset 0 0 10px 10px #D0E9CD;
  }

  main .left-grid .testimonial-card:nth-child(1){
    background-color: #A2D39B;
  }
  main .left-grid .testimonial-card:nth-child(2){
    background-color: #61082B;
  }
  main .testimonial-card:nth-child(3){
    background-color: #0093CE;
  }
  main .left-grid .testimonial-card:nth-child(4){
    background-color: #FF1C1C;
  }
  main .right-grid .testimonial-card:nth-child(1){
    background-color: #D5001F;
  }
  main .right-grid .testimonial-card:nth-child(2){
    background-color: #B4D0E7;
  }
  main .right-grid .testimonial-card:nth-child(3){
    background-color: #0D2481;
  }
  main .right-grid .testimonial-card:nth-child(4){
    background-color: #FFD830;
  }
  
  main .testimonial-card img{
    max-width: 60%;
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
  /* /SEZIONE TESTIMONIALS */


