/* DEBUG */
.debug{
  background-color: lightskyblue;
  height: 100px;
}

/* CONTAINERS */
.container-lrg{
  width: 85%;
  min-width: 850px;
  margin: 0 auto;
}

.container-sml{
  width: 70%;
  min-width: 730px;
  margin: 0 auto;
}

/* DISPLAY FLEX */
.d-flex{
  display: flex;
}

.d-flex-col{
  display: flex;
  flex-direction: column;
}

.fl-j-start{
  justify-content: flex-start;
}

.fl-j-center{
  justify-content: center;
}

.fl-j-end{
  justify-content: flex-end;
}

.fl-j-between{
  justify-content: space-between;
}

.fl-a-center{
  align-items: center;
}

.fl-a-start{
  align-items: flex-start;
}

/* BOTTONI */
.btn{
  display: inline-block;
  background-color: #0061FF;
  color: white;
  text-decoration: none;
  font-size: .8rem;
  padding: 5px 15px;
}

/* MARGINI */
.m-b15{
  margin-bottom: 15px;
}

.m-b20{
  margin-bottom: 20px;
}

.m-b30{
  margin-bottom: 30px;
}

.m-b40{
  margin-bottom: 40px;
}