/* UTILITIES E REGOLE GENERALI */

/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

/* DEBUG */
.debug{
  background-color: lightskyblue;
  height: 100px;
  border: 1px dashed black;
}

/* REGOLE GENERALI */
body{
  font-family: 'Lato', sans-serif;
}


/* SCROLL BAR */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #F5F5F5; 
    border-radius: 5px;
  }
 
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #C7C7C7; 
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.6); 
  }
/* /SCROLL BAR */

h1, h2, h3, h4, h5{
  font-weight: 900;
}

h1{
  font-size: 60px;
}

h2{
  font-size: 35px;
}

h3{
  font-size: 1.2rem;
}

h4{
  font-size: 1rem;
}

h5{
  font-size: .9rem;
}

/* IMMAGINI */
img{
  max-width: 100%;
  object-fit: cover;
}

/* CONTAINERS */
.container-lrg{
  width: 85%;
  min-width: 850px;
  margin: 0 auto;
}

.container-sml{
  width: 70%;
  min-width: 730px;
  margin: 0 auto;
}

/* DISPLAY FLEX */
.d-flex{
  display: flex;
}

.d-flex-col{
  display: flex;
  flex-direction: column;
}

.fl-j-start{
  justify-content: flex-start;
}

.fl-j-center{
  justify-content: center;
}

.fl-j-end{
  justify-content: flex-end;
}

.fl-j-between{
  justify-content: space-between;
}

.fl-a-center{
  align-items: center;
}

.fl-a-start{
  align-items: flex-start;
}

/* BOTTONI */
.btn{
  display: inline-block;
  background-color: #0061FF;
  color: white;
  text-decoration: none;
  font-size: .8rem;
  padding: 5px 15px;
}

.btn-lrg{
  padding: 5px 40px;
}

.btn-wht{
  background-color: white;
  color: black;
}

.btn-b{
  border: 1px solid black;
}

/* MARGINI */
.m-b15{
  margin-bottom: 15px;
}

.m-b20{
  margin-bottom: 20px;
}

.m-b30{
  margin-bottom: 30px;
}

.m-b40{
  margin-bottom: 40px;
}